@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    position: relative;
    width: 100%;
    max-width: 1000px;
    background: #fff;
    margin: 25px;
    box-shadow: 0 50px 75px rgba(0,0,0,0.1);
    border-left: 50px solid #fff;
    border-right: 50px solid #fff;
}
.container .top{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 40px;
    padding-bottom: 0;
}
.container .top .imgBx{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}
.container .top .imgBx .box{
    position: relative;
    width: 70%;
    min-width: 200px;
    border-radius: 50%;
    overflow: hidden;
    aspect-ratio: 1;
}
.container .top .imgBx .box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container .top .profileText{
    position: relative;
    padding: 40px;
    display: flex;
    align-items: center;
}
.container .top .profileText h3{
    font-size: 3em;
    letter-spacing: 0.1em;
    line-height: 1.2em;
    font-weight: 600;
    color: #333;
}
.container .top .profileText h3 span{
    position: relative;
    font-size: 0.5em;
    font-weight: 300;
    top: -10px;
}
.container .contentBox{
    position: relative;
    min-height: 500px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 0 40px 40px;
}
.container .contentBox h3{
    border-left: 4px solid #F08B33;
    padding-left: 10px;
    line-height: 1em;
    font-weight: 600;
    color: #333;
    letter-spacing: 0.1em;
    margin-bottom: 20px;
    margin-top: 50px;
}
.container .contentBox ul{
    position: relative;
    margin: 10px 0;
}
.container .contentBox ul li{
    list-style: none;
    margin: 25px 0;
    line-height: 1em;
    color: #333;
    display: flex;
}
.container .contentBox ul li ion-icon{
    font-size: 1.2em;
    margin-right: 10px;
    color: #3590d2;
}
.container .contentBox ul.education li{
    flex-direction: column;
    margin: 25px 0;
}
.titles_habilits {
    color: #1c1b29;
    font-size: 1.1em;
}
.subtitle_lang {
    color: #1c1b29;
    font-size: 1.2em;
    font-weight: 600;
    line-height: 18pt;
    padding: 5px;
    margin-bottom: 15px;
    border-bottom: 1px solid #333;
    border-top: 1px solid #333;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 10px 18px -5px, rgba(0, 0, 0, 0.3) 0px 8px 10px -8px;
}
h5{
    color: #3590d2;
}
h4{
    color: #333;
    font-weight: 500;
    margin: 5px 0;
}
h6{
    color: #666;
    font-weight: 300;
    font-size: 1em;
}
.language {
    position: relative;
}
.language li{
    flex-direction: column;
}
.language li span{
    color: #333;
    font-size: 16px;
}
.language li .text_cer {
    color: #333;
    font-size: 16px;
    font-weight: 700;
    border-bottom: 1px solid #333;
    line-height: 15pt;
    padding: 5px;
}
.language .percent{
    position: relative;
    width: 100%;
    background: #e3e3e3;
    height: 6px;
    margin-top: 15px;
    margin-bottom: 10px;
    display: block;
    overflow: hidden;
}
.language .percent div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #3590d2;
}
.rightSide{
    padding-left: 40px;
}
.about .box{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}
.about .box .year_company{
    min-width: 150px;
    margin-bottom: 10px;
}
.about .box .year_company h5 {
    color: #333;
    font-weight: 600;
}
.about .box .year_company h5:nth-child(1){
    color: #3590d2;
}
.about .box .text h4{
    color: #3590d2;
    font-size: 16px;
    margin: 0;
}
.about.skills .box{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
}
.about.skills .box h4{
    color: #333;
    font-weight: 500;
    margin-bottom: 5px;
}
.about.skills .box .percent{
    position: relative;
    width: 100%;
    height: 10px;
    background: #e3e3e3;
}
.about.skills .box .percent div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #3590d2;
}
.container .contentBox ul.interest{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid #ccc;
}
.container .contentBox ul.interest li{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
}
.container .contentBox ul.interest li .icon{
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.interest .percent{
    position: absolute;
    width: 45%;
    background: #e3e3e3;
    height: 6px;
    margin-top: 100px;
    margin-bottom: 15px;
    display: block;
    overflow: hidden;
}
.interest .percent div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #3590d2;
}
.interest .description{
    position: relative;
    display: block;
    margin-top: 50%;
}
.interest .description_point{
    border-left: 4px solid #08C6AB;
    padding-left: 10px;
    /*background: #e3e3e3;*/
    position: relative;
    flex-wrap: wrap;
    display: block;
    /*margin-top: 100px;*/
    margin-bottom: 2px;
    line-height: 1em;
    font-weight: 600;
    color: #1c1b29;
}
@media(max-width: 900px){
 
    .container .contentBox{
        position: relative;
        min-height: 500px;
        display: grid;
        grid-template-columns: 1fr;
        padding: 0 40px 40px;
    }
    .container .top{
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        padding: 0px;
        padding-bottom: 0;
    }
    .text {
        font-size: 15px;
    }
    
    .container .top .imgBx .box{
        position: relative;
        width: 70%;
        min-width: 190px;
        border-radius: 50%;
        overflow: hidden;
        aspect-ratio: 1;
        margin: auto;
        display: flex;
        margin-top: 2rem;
    }

    .container .top .profileText{
        position: relative;
        margin-top: 3rem;
        padding: 0px;
        display: block;
        align-items: center;
        text-align: center;
    }
    .container .top .profileText h3{
        font-size: 3em;
        letter-spacing: 0.1em;
        line-height: 1.2em;
        font-weight: 600;
        color: #333;
    }
    .rightSide{
        padding-left: 0px;
    }
}

@media(max-width: 800px){
    .about .box{
        display: block;
    }
}

@media(max-width: 618px){
    .container .contentBox ul.interest{
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
    }
    .interest .percent{
        position: absolute;
        width: 100%;
        background: #e3e3e3;
        height: 6px;
        margin-top: 100px;
        margin-bottom: 15px;
        display: block;
        overflow: hidden;
    }
}

.intro {
    text-align: justify;
    max-width: 600px; 
    margin: 0 auto;  
    padding: 20px;    
  }
/*CARDS*/
.background1-left-column{
	background: #ccc;
}
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    padding: 20px;
    grid-gap: 40px;
}
.card{
    background-color: #1c1b29;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.18);
}
.container_cards{
    position: relative;
}
.img{
    width: 100%;
    display: block;
    border-radius: 20px 20px 0 0;
}
.container_cards:after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px 20px 0 0;
    opacity: 0.7;
}
.details{
    padding: 20px 10px;
}
.details>h3{
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    margin: 10px 0 15px 0;
}
.details>p{
    color: #a0a0a0;
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
}
@media (max-width: 670px){
    .cards{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
        padding: 10px;
        grid-gap: 20px;
    }
}

@media (max-width: 570px){
    .cards{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
        padding: 10px;
        grid-gap: 20px;
    }
}

@media (max-width: 400px){
    .cards{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
        padding: 10px;
        grid-gap: 20px;
    }
}

/*CARDS INDEX*/
.cards_INDEX{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100%,1fr));
    padding: 20px;
    grid-gap: 40px;
    margin: 10px;
    height: 100%;
}

.details_INDEX{
    padding: 0px 10px;
}
.details_INDEX>h4{
    color: #1c1b29;
    font-weight: 600;
    font-size: 18px;
    margin: 10px 0 10px 0;
}
@media (max-width: 670px){
    .cards_INDEX{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
        padding: 10px;
        grid-gap: 20px;
    }
}

@media (max-width: 570px){
    .cards_INDEX{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
        padding: 10px;
        grid-gap: 20px;
    }
}

@media (max-width: 400px){
    .cards_INDEX{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
        padding: 10px;
        grid-gap: 20px;
    }
}
